 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

header {
      display: flex;
      justify-content: space-between;
      padding: 20px 60px;
      align-items: center;
      background-color: blanchedalmond;
      box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    }

    nav a {
      margin: 0 15px;
      text-decoration: none;
      color:black;
      background-color:blanchedalmond;
      font-weight: 500;
    }


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f4f8fb;
  color: #333;
}

.contact-section {
  padding: 60px 20px;
  background-color: #fff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  background-image: url();
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #1a73e8;
}

p {
  text-align: center;
  margin-bottom: 40px;
}

.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.contact-info {
  flex: 1;
  min-width: 250px;
}

.contact-info h3 {
  margin-bottom: 15px;
  color: #1a73e8;
}

.contact-info p {
  margin-bottom: 10px;
}

.contact-form {
  flex: 1;
  min-width: 280px;
  background-color: #f1f6fb;
  padding: 20px;
  border-radius: 8px;
}

.contact-form h3 {
  margin-bottom: 15px;
  color: #1a73e8;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact-form button {
  background-color: #1a73e8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #0c5ed7;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
  }

  .contact-form,
  .contact-info {
    width: 100%;
  }
}

  footer{
    padding: 40px 20px 20px;
    margin-top: 40px;
    text-align: center;
    background-color:whitesmoke;
}

.social-icons img{
    margin: 10px 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.copyright{
    color: #777;
    font-size: 12px;
}